[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/aligmail
[access "refs/for/refs/*"]
	read = group user/aligmail
	push = group user/aligmail
	label-Code-Review = -2..+2 group user/aligmail
	label-Verified = -1..+1 group user/aligmail
	rebase = group user/aligmail
	removeReviewer = group user/aligmail
	submit = group user/aligmail
[access "refs/heads/*"]
	read = group user/aligmail
	create = group user/aligmail
	push = +force group user/aligmail
	pushMerge = group user/aligmail
[access "refs/tags/*"]
	push = group user/aligmail
	push = +force group user/aligmail
